.About {
    padding: 25px;
}

.About p {
    font-size: 15px;
    font-family: cursive;
    font-weight: 900;
}

.About p::first-letter {
    font-size: 30px;
    color: green;
    /* font-weight: 900; */
}